
//placeholder för kort
@include respond-to('desktop'){
    %cards{
        display: grid;
        grid-gap: 1.5em;
        grid-template: 10% 90% / 1fr 3fr;
        background-color: whitesmoke;
        box-shadow: 2px 2px 2px grey;
    }
}

//placeholder för att styling
%button{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    padding: 1%;
    font-size: 1.5em;
}
//placeholder för att tillämpa flex
%container{
    display: flex;
    justify-content: center;
    align-items: center;
}