//Variabler

// Variabler för olika färger 

$facebook: #3B5998;
$twitter: #1DA1F2;
$google: rgb(219, 46, 37);
$menytext: #0f0f0f;
$colordesktop: rgb(219, 219, 219);
$colortablet: #1DA1F2;
$colormobile: #b9afaf;
$cardcolor: orange;
$cardhover: white;
$menudesktoptext: black;
$cards: rgb(94, 94, 94);
$background: rgb(163, 119, 243);

// maps för breakpoints
$breakpoints:(
    'mobile': (max-width:1167px),
    'tablet': (min-width: 432px),
    'desktop': (min-width: 1168px),
    
) !default;
