*{
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
	background-color: #F0EAEA;
    margin: auto;
}
.mylogo i{
    font-size: 2.5em;
    padding-right: 1em;
}
.minlogga{
    text-align: center;
}
.maincontent{
    display: flex;
    flex-direction: column;
}
/* nedan kodblock är för att dölja och visa menyn i mobilt läge */
label{
    color: black;
    line-height: 40px;
    font-size: 2em;
    cursor: pointer;
}
header nav #menyn{
    display: none;
}
#nav-toggle{
    display: none;
}
#nav-toggle:checked + header nav #menyn{
    display: flex;
}
/* Styling och för att visa sidebaren längre ned i mobilt läge */
#sidebar{
    order: 2;
    text-align: center;
    background-color: gray;
    margin: 5px;
    border-radius: 5px;
    padding: 20px;
}
/* Styling för copyright-rutan */
#copyright{
    background-color: gray;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    padding: 20px;
}
/* För att generellt sätta så att h1 och h2 läggs på samma rad */
h1,h2{
    display: inline;
}
a:link{
    text-decoration: none;
    color: whitesmoke;
}
a:visited{
    color: whitesmoke;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: column;
    width: 95%;
}
nav ul li{
    list-style: none;
    text-align: center;
}
nav ul li a{
    display: block;
    padding: 10px;
}
nav ul li:hover a{
    display: block;
    background-color: rgba(255, 255, 255, 0.27);
}
nav li:first-of-type{
    background-color: #E28801;
}
nav ul li a i{
    font-size: 1em;
}
.two{
    background-color: #0D67C0
}
.three{
    background-color: #00C91E
}
.four{
    background-color: #32BBFA
}
.five{
    background-color: #C9005E
}
.six{
    background-color: #140049;
    order: -1;
}
.six i{
    margin-left: 5px;
}
.whitetext{
    margin: 15px;    
}
.syndicate{
    margin: 1em;
    box-shadow: 0px 3px 1px #5B87DF;
    margin-bottom: 5%;
    background-color: #517497;
    display: flex;
    flex-direction: column;
}
#firstarticle{
    background-color: #C9005E;
}
#secondarticle{
    background-color: #E28801;
}
#thirdarticle{
    background-color: #140049;
}
.syndicate:hover{
    background-color: #545658;
}
/* alla headers inom syndicateklassen sätter vi flex på samt row wrap */
.syndicate header{
    color: whitesmoke;
    padding-top: 10px;
}
/* klass start och delad fördelar vi med flexbox */
.start{
    flex: 1 100%;
    background-color: #3B5998;
    font-size: 120%;
    font-weight: 700;
}
.delad{
    font-size: 120%;
    font-weight: 700;
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color:#5B87DF;
}
.syndicate article p{
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 1em;
}
.syndicate div{
    padding: 0.5em;
    color: whitesmoke;
}
.syndicate footer{
    background-color: #5B87DF;
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 1em;
}
.syndicate footer div{
    text-align: center;
}


/* Brytpunkt för mobilt och desktop-läge */
@media all and (min-width: 816px){
    /*Tecknet för mobil menyn döljs på desktop*/

.syndicate{
    width: 100%;
}
label{
    display:none;
} 
nav ul li:hover a{
    display: block;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 12px;
}
.six a:hover{
    padding: 10px;
}

/* för att alltid visa menyn i desktopläge */
header nav #menyn{
    display: flex;
}
/* för att återställa ordningen i meny-listan */
.six{
    order: 0;
    display: inline;
}
/* Sätter hela "kroppen" som flexbox */
.maincontent{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.mylogo{
    text-align: right;
    padding-top: 30px;
    padding-right: 10px;
}
.minlogga{
    flex-direction: row;
    display: flex;
    display: inline;
}
.meny{
    justify-content: flex-end;
}
nav{
    justify-content: flex-end;
}
nav ul{
    flex-direction: row;
}
.minlogga nav ul li{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#sidebar{
    order: 0;
    flex-direction: column;
    background-color: gray;
    color: whitesmoke;
}
section{
    display: flex;
    flex-wrap: wrap;
}
section a{
    display: flex;
    width: 50%;
}
section > a:last-of-type{
    width: 100%;
}
.syndicate .articletext{
    flex-grow: 1;
}
}