@mixin box( $radius, $size, $shadowColor, $grad1, $grad2, $hover, $hover1, $display:flex, $justify:center){
    border-radius: $radius;
    display: $display;
    width: $size;
    height: $size;
    justify-content: $justify;
    align-items: $justify;
    box-shadow: 0 5px 10px $shadowColor;
    background: linear-gradient($grad1, $grad2);
    filter: grayscale(100%);
    
    &:hover{
        background:linear-gradient($hover, $hover1);
        filter: grayscale(0)
    }
}