*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E0E0E0;
    max-width: 1300px;
    margin: 0 auto;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2px;
    text-align: center;
    grid-template-areas: 
    "header"
    "title"
    "content"
    "content"
    "sidebar"
    "footer"
}
.grid div{
    margin: 10px;
    padding: 10px;
    background-color: #4980F7;
    border-radius: 7px;
}
.title{
    grid-area: title;
}
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header a div{
    background-color: #666666;
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
}
.footer{
    grid-area: footer;
}
.subcontent{
    grid-area: subcontent;
}
.subcontentone{
    grid-area: subcontentone;
}
.content .subcontent, .content .subcontentone{
    background-color: #87A4DB
}

.menyone:hover, .menytwo:hover, .menythree:hover, .menyfour:hover{
    background-color: rgba(255, 255, 255, 0.24)
}
@media all and (min-width: 820px){

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 2px;
    text-align: center;
    grid-template-areas: 
    "header header"
    "title title"
    "content content"
    "content content"
    "sidebar footer"
}
.header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "subcontent subcontentone"
}

}
