// Generell kod

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
figure{
    margin: 0;
}
// generella width beroende på brytpunkt
body{
    width: 90%;
    margin: 0 auto;

    @include respond-to('desktop'){
        width: 100%;
        
    }
    @include respond-to('tablet'){
        width: 100%;
    }
}