*{
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* här sätter vi en bredd på 100% samt att max breden är 800px. Vi sätter en bakgrundsfärg och centrerar innehållet*/
body{
    width: 100%;
    max-width: 50em;
	background: url(https://previews.123rf.com/images/alexeybykov/alexeybykov1308/alexeybykov130800064/21475926-Grey-background-Painted-iron-old-wall--Stock-Photo.jpg) no-repeat;
    background-size: cover;
    margin: auto;
}
li{
    list-style: none;
}

}
a{
    text-decoration: none;
}
/*kodblock nedan sätter vi vad som händer med alla länkar i menyn förutom alink som är generell*/
a:link{
    text-decoration: none;
    color: white;
}
nav a{
    display: block;
    text-decoration: none;
}
nav a:visited{
    text-decoration: none;
    color: white;
}
nav a:hover{
    background-color: slategray;
}
nav a:active{
    text-decoration: none;
}
nav li li:nth-last-of-type(1), nav li li:nth-last-of-type(1){
    border-radius: 0px 0px 10px 10px;
}
nav li li:nth-last-of-type(1) a, nav li li:nth-last-of-type(1) a{
    border-radius: 0px 0px 10px 10px;
}
nav ul li{
    float: left;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: #3B5998;
    text-align: center;
}
/* döljer undermenyn och bestämmer position */
nav ul ul li{
    position: relative;
    display: none;
    opacity: 0.9;
}
/* döljer underundermenyn */
nav ul ul ul{
    display: none;
}
nav ul li span{
    background-color: slategray;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}
/* tar fram menyn när man hover över */
nav ul li:hover ul li{
    display: block;
}
/* För att få till position på undermenyns undermeny  */
nav ul ul li:hover ul{
    display: block;
    position: absolute;
    width: 160px;
    left: 160px;
    top:0px;
    font-size: 9pt;
}
/*med hjälp av adjecent sibling selector sätter vi en gröngul färg på ex2*/
.logo h2 + h3{
    color: #258B25;
}
/*kodblock nedan sätter vi en skuggfärg både som standard och en annan när man hover över*/
.syndicate{
    background-color: #3A3B3D;
    margin: 1em;
    box-shadow: 0px 3px 1px #5B87DF;
}
.syndicate:hover{
    background-color: #545658;
}
/* var tredje med början på den andra färgas i annan färg */
a:nth-of-type(3n+2) .syndicate{
    background-color: slateblue;
}
/* var tredje med färgad i slateblue färgas annorlunda när man hover över */
a:nth-of-type(3n+2) .syndicate:hover{
    background-color: #7465DA;
}
a:first-of-type .syndicate{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
a:nth-last-of-type(1) .syndicate{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* alla paragrafer i artiklarna sätter vi med en smokewhite färg samt justerar padding och margin
vi sätter allt inom footer och div h3 med textfärg whitesmoke och samt padding+margin*/
.syndicate header{
    text-align: center;
    color: whitesmoke;
    padding-top: 10px;
}
.syndicate article p{
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 1em;
}
.syndicate div{
    padding: 0.5em;
    color: whitesmoke;
}
.syndicate footer{
    color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 1em;
}
aside{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3B5998;
}
.blog_summary{
    border-radius: 50px 50px 50px 50px;
}
/* här sätter vi margin, padding och olika färger tillhörande klassen blog_summary*/
.blog_summary ul li{
    margin: 0.5em;
    padding: 0.5em;
}

.blog_summary a{
    text-decoration: none;
    color: whitesmoke;
}
.blog_summary a:hover{
    color: slategray;
}
.blog_summary > span{
    color: black;
}
#na a{    
    color: black;
}
#na a:hover{
    color:#3B3B3B;
}
.contact{
    margin-top: 0.5em;
    text-align: center;
}
.tel{
    color:black;
}
/*här sätter vi färgen vit med hjälp av General sibling combinator*/
.tel ~ .web{
    color:black;
}
