*{
    font-family: 'Merriweather', serif; //font familj som skall användas
    margin: 0 auto;
    padding: 0;
}
li{
    list-style: none;
}
body{
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: $background;
}